@media screen and (max-width:1920px){

}

@media screen and (max-width:1680px){
    
}

@media screen and (max-width:1600px){
    
}

@media screen and (max-width:1440px){
    
}

@media screen and (max-width:1400px){
    
}

@media screen and (max-width:1366px){
}

@media screen and (max-width:1360px){
    
}

@media screen and (max-width:1280px){
    
}

@media screen and (max-width:1199px){
    
}

@media screen and (max-width:1024px){
    
}

@media screen and (min-width:1023px) and (max-width:992px){
    
}

@media screen and (max-width:991px){
    .kedarnath-intro-section .kedarnath-intro-layer .intro-slider-container {
        max-width: 80%;
    }
    .kedarnath-skills-section .kedarnath-skills-layer .skills-slider-container {
        /* max-width: 60%; */
        max-width: 80%;
    }
    .owl-theme.skill-item-slider .owl-nav {
        top:125%;
        -ms-transform: translate(0%, -125%);
        -o-transform: translate(0%, -125%);
        -moz-transform: translate(0%, -125%);
        -webkit-transform: translate(0%, -125%);
        transform: translate(0%, -125%);
    }
    .kedarnath-my-work-section .kedarnath-my-work-layer .my-work-slider-container {
        max-width: 100%;
    }
    .kedarnath-intro-section .kedarnath-intro-layer .intro-slider-container .intro-slider-layer .typewrite, .kedarnath-skills-section .kedarnath-skills-layer .skills-slider-container .skills-slider-layer .skill-image .typewrite{
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    
}

@media screen and (max-width:767px){
    .kedarnath-intro-section .kedarnath-intro-layer .intro-slider-container {
        max-width: 95%;
    }
    .kedarnath-intro-section .kedarnath-intro-layer .intro-slider-container .intro-slider-layer .typewrite, 
    .kedarnath-info-section .kedarnath-content-layer .kedarnath-information .typewrite, 
    .kedarnath-skills-section .kedarnath-skills-layer .typewrite,
    .kedarnath-skills-section .kedarnath-skills-layer .skills-slider-container .skills-slider-layer .skill-image .typewrite,
    .kedarnath-my-work-section .kedarnath-my-work-layer .typewrite{
        font-size:17px;
    }
    .kedarnath-info-section .kedarnath-content-layer .kedarnath-information .content-box p{
        font-size:16px;
    }
}

@media screen and (max-width:576px){
    .kedarnath-skills-section .kedarnath-skills-image-layer .skills-slider-container {
        max-width: 85%;
    }
}

@media screen and (max-width:414px){
    
}

@media screen and (max-width:375px){
    
}

@media screen and (max-width:360px){
    
}

@media screen and (max-width:320px){
    
}